
<!-- JQuery -->
<script src="src/librerias/jquery/jquery-3.6.0.min.js "></script>
<!-- Popper js -->
<script src="src/librerias/bootstrap/js/popper.min.js"></script>
<!-- Bootstrap -->
<script src="src/librerias/bootstrap/js/bootstrap.min.js"></script>
<!-- SweetAlert2 -->
<script src="src/librerias/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="src/librerias/sweetalert2/dist/sweetalert2.min.js"></script>
<!-- My Js -->
<script src="src/js/main.js"></script>


</body>
</html>