<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="formulario de contactanos SYZ" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario SYZ</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="src/librerias/bootstrap/css/bootstrap.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="src/styles/style.css">

</head>
<body>


