<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="formulario de contactanos SYZ" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario SYZ</title>

    <!-- Logo de la empresa -->
    <link  rel="icon"   href="src/utils/logo/logo.png" sizes="16" type="image/png" />

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="src/librerias/bootstrap/css/bootstrap.min.css">

    <!-- Font Titulos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!-- Titulos -> Roboto -> font-family: 'Roboto', sans-serif; -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <!-- letras -> Noto Sans -> font-family: 'Noto Sans', sans-serif; -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="src/css/main.css">

</head>
<body>


